<div class="text-box">
  <textarea class="atwho" ng-model="content" placeholder="{{ filler }}"></textarea>
  <span class="note">
    <a href="https://daringfireball.net/projects/markdown/basics" target="_blank" title="Learn the basics of Markdown">Markdown</a> &amp; <a href="http://www.emoji-cheat-sheet.com/" target="_blank" title="Emoji cheat sheet">Emoji</a> support <i class="icon-help"></i>
  </span>
</div>
