<form>
  <input type="text" ng-model="term" ng-trim="true" ng-keyup="termKeypress($event)" placeholder="Start typing to search..." autocomplete="off">
</form>

<div class="loading" ng-show="searching">Searching...</div>
<div class="no-results" ng-show="searching === false && count === 0 && term">Nothing found for <span>{{ term }}</span></div>

<div class="search-results" ng-show="searching === false && count > 0">
  <p><span class="count">{{ count }}</span> results found for <span class="term">{{ term }}</span></p>
  <ul class="ui-search-list"></ul>

  <div class="view-more" ng-show="morePages">
    <a href="#" ng-click="loadMore()" disabled="{{loadingMore}}">View more results</a>
  </div>

  <div class="all-loaded" ng-hide="morePages">
    Showing all {{ count }} results
  </div>
</div>