<div class="default-form">
  <form novalidate="novalidate" id="edit_task_{{ task.id }}" action="{{ task.url }}" method="post">
    <input type="checkbox" {{ task.completed ? "checked=\"\"" : "" }}>
    <p class="label">{{ task.label }}</p>

    <span ng-hide="assignment_name === 'unassigned'" class="assignment">{{ task.assignment_name }}</span>
    <span ng-hide="due_at_pretty === ''" class="due_at">{{ task.due_at_pretty }}</span>
  </form>
</div>

<div class="edit-form">
  <form novalidate="novalidate" id="edit_task_{{ task.id }}" action="{{ task.url }}" method="post">
    <div class="input string required task_label">
      <input autocomplete="off" class="string required" type="text" value="{{ task.label }}" name="task[label]" id="task_label">
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-11-24 input select optional task_assignment">
        <select class="select optional" name="task[assignment]" id="task_assignment">
            <option ng-repeat="user in users" value="{{ user[1] }}" ng-selected="user[0] === task.assignment_name">{{ user[0] }}</option>
        </select>
      </div>
      <div class="pure-u-1 pure-u-md-3-24 due-label">Due:</div>
      <div class="pure-u-1 pure-u-md-10-24 input string task_due_at">
        <input type="text" name="task[due_at]" class="task_due_at" value="{{ task.due_at_pretty }}">
      </div>
    </div>

    <hr>

    <input type="submit" name="commit" value="Update" class="btn btn-main btn-small">
    <a class="btn btn-danger btn-small" data-confirm-title="Delete Task" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="{{ task.url }}">Delete</a>
    <a class="cancel" href="#">Cancel</a>
  </form>
</div>