<div class="default-form">
  <form novalidate="novalidate" id="edit_task_{{ task.id }}" action="{{ task.url }}" method="post" ng-dblclick="startEditing()" ng-hide="editing">
    <input type="checkbox" ng-model="task.completed">
    <p class="label">{{ task.label }}</p>

    <span ng-hide="task.assignment_name === 'unassigned'" class="assignment">{{ task.assignment_name }}</span>
    <span ng-hide="task.due_at_pretty === null" class="due_at">{{ task.due_at_pretty }}</span>
  </form>
</div>

<div class="edit-form">
  <form novalidate="novalidate" ng-submit="updateTask()" ng-show="editing">
    <div class="input string required task_label">
      <input autocomplete="off" class="string required task_label" type="text" ng-model="editTask.label">
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-11-24 input select optional task_assignment">
        <select ng-model="editTask.assigned_to" ng-options="user[1] as user[0] for user in users"></select>
      </div>
      <div class="pure-u-1 pure-u-md-3-24 due-label">Due:</div>
      <div class="pure-u-1 pure-u-md-10-24 input string task_due_at">
        <md-datepicker md-placeholder="Due Date" ng-model="editTask.due_at"></md-datepicker>
      </div>
    </div>

    <hr>

    <input type="submit" name="commit" value="Update" class="btn btn-main btn-small">
    <a class="btn btn-danger btn-small" href="#" ng-click="deleteTask()">Delete</a>
    <a class="cancel" href="#" ng-click="stopEditing()">Cancel</a>
  </form>
</div>