<form ng-submit="createStory(story)">
  <input type="text" ng-model="story.name" class="title-input" tabindex="1" autofocus="true" placeholder="Name your story&hellip;">

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-17-24 ui-story-container">
      <div class="ui-story">
        <article>
          <header>
            <div class="actions">
              <a href="/projects/{{ projectId }}">Cancel</a>
            </div>
            <user-avatar user="currentUser"></user-avatar>
            {{ currentUser.display_name }}&hellip;
          </header>
          <section class="body edit-mode">
            <div class="content-input">
              <markdown-input content="story.description" filler="'Type your message'"></markdown-input>

              <footer>
                <button class="btn btn-main" tabindex="3">Post</button>
              </footer>
            </div>
          </section>
        </article>
      </div>
    </div>
  </div>
</form>
