<ul class="team-list">
  <li class="{{ user.display_role }}" ng-repeat="user in teamUsers">
    <a href="#">
      <user-avatar user="user" size="100"></user-avatar>
    </a>
    <h4>
      <a href="#">{{ user.display_name }}</a>
      <small>({{ user.display_role }})</small>
    </h4>
  </li>
  <li>
    <a href="#">
      <span class="avatar add-new-user"></span>
      <h4>Invite someone new</h4>
    </a>
  </li>
</ul>
