<p ng-hide="files.length">You don’t have any files across your projects. Create a story and attach some files.</p>

<div class="pure-g" ng-show="files.length">

    <div class="pure-u-1 pure-u-md-1-3" ng-repeat="attachment in files">
      <div class="info-box attachment-box">
        <section class="info">
          <h3>
            <a href="{{ attachment.url }}" target="_blank" title="{{ attachment.file_name }}">
              {{ attachment.file_name | limitTo : 20 }}
              <small>Uploaded <human-time datetime="attachment.created_at"></human-time></small>
            </a>
          </h3>
        </section>

        <section class="file-preview">
          <img src="{{ attachment.preview_url }}" alt="{{ attachment.file_name }}" width="59">
        </section>

        <footer>
          <a href="{{ attachment.url }}" target="_blank" title="{{ attachment.file_name }}" class="btn btn-main btn-with-icon">
            <span class="icon icon-cloud-download"></span>
            Download
          </a>
          <span class="file-size">{{ attachment.human_file_size }}</span>
          <span class="uploaded-by"><user-avatar user="attachment.owner"></user-avatar></span>
        </footer>
      </div>
    </div>

</div>
