<% content_for :additional_styles do %>
  <style type="text/css">
    h1, h2, h3 { font-weight: normal; }
    h1 {
      border-bottom: 1px solid #d7d7d7;
      padding-bottom: 20px;
    }
    p {
      padding: 12px 0 0 0;
      margin: 0;
    }
    .notifications-wrapper {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
<% end %>

<div class="notifications-wrapper">
  <h1>Notifications Update</h1>

  <% @notifications.each do |n| %>
    <div class="notification">
      <%= render "/user_mailer/notification_partials/#{n.notifiable.class.to_s.underscore}_#{n.action_performed}", { model: n.notifiable } %>
    </div>
  <% end %>
</div>