<h1>Hey <%= @user.display_name %>, your password has been changed</h1>

<p>If you requested to change your password it’s all gone through successfully!</p>

<p>If you didn’t change your password please <a href="<%= new_password_url %>">reset your password immediately</a> and reply to this email to let us know.</p>

<p>Thanks,<br>The Open HQ Team</p>
