<ul class="steps h-list">
  <li class="step">
    <span class="number">1</span> Your account
  </li>
  <li class="step">
    <span class="number">2</span> First Project
  </li>
  <li class="step">
    <span class="number">3</span> Invite your team
  </li>
</ul>

<div class="page-container">
  <h2>AWS Credentials Error</h2>
  <p>We failed to connect to your s3 bucket. Please check your AWS credentials and try again.</p>
</div>
