<li data-project-id="<%= model.project.id %>">
  <div class="title">
    Story in <%= link_to model.project.name, model.project %>
  </div>

  <div class="content">
    <%= model.name %>
  </div>

  <div class="actions">
    <%= link_to "View Story", [model.project, model] %>
  </div>
</li>