<div class="title">
  Task on story <%= link_to model.story.name, [model.story.project, model.story] %> in <%= link_to model.story.project.name, model.story.project %>
</div>

<div class="content">
  <%= markdownify model.label %>
</div>

<div class="actions">
  <%= link_to "View Task", [model.story.project, model.story] %>
</div>