<div class="page-header search">
  <h1>
    <span><%= pluralize(@results.count, "result") %></span> for "<%= @query %>"
  </h1>
</div>

<% if @results.any? %>
  <ul class="ui-search-list">
    <% @results.each do |result| %>
      <%= render result.searchable_type.downcase, { model: result.searchable } %>
    <% end %>
  </ul>
<% end %>

<script type="text/javascript">
  var user_project_ids = <%= MultiJson.dump(current_user.projects.pluck(:id)) %>;
</script>