<a href="/stories/{{ notification.story.slug }}">
  <div class="owner-details">
    <user-avatar user="notification.actioner"></user-avatar> {{ notification.actioner.display_name }}
  </div>

  <div class="details">
    commented on: <em>{{ notification.story.name }}</em>
  </div>
</a>