<div class="title">
  Attachment on story <a href="/stories/{{ result.story.slug }}">{{ result.story.name }}</a> in <a href="/projects/{{ result.project.slug }}">{{ result.project.name }}</a>
</div>

<div class="content">
  <div class="attachment-file">
    <div class="file-preview">
      <img src="{{ result.attachment_image }}" alt="{{ result.searchable.name }}" width="59">
    </div>
    <span class="file-name">{{ result.searchable.name }}</span>
    <span class="file-size">{{ result.searchable.file_size }}</span>
  </div>
</div>

<div class="actions">
  <a href="/stories/{{ result.story.slug }}">View Attachment</a>
</div>