<div class="result">
  <div class="title">
    Project
  </div>

  <div class="content">
    {{ result.searchable.name }}
  </div>

  <div class="actions">
    <a href="/projects/{{ result.project.slug }}">View Project</a>
  </div>
</div>