<div class="title">
  Story in <a href="/projects/{{ result.project.slug }}">{{ result.project.name }}</a>
</div>

<div class="content">
  {{ result.searchable.name }}
</div>

<div class="actions">
  <a href="/stories/{{ result.story.slug }}">View Story</a>
</div>