<div class="title">
  Task on story <a href="/stories/{{ result.story.slug }}" ng-click="closeDialogs()">{{ result.story.name }}</a> in <a href="/projects/{{ result.project.slug }}" ng-click="closeDialogs()">{{ result.project.name }}</a>
</div>

<div class="content">
  {{ result.searchable.label }}
</div>

<div class="actions">
  <a href="/stories/{{ result.story.slug }}" ng-click="closeDialogs()">View Task</a>
</div>