<h1>Notifications</h1>

<table class="notifications-table">
  <% @notifications.each do |n| %>
    <tr>
      <% if n.notifiable.present? %>
        <%= render "#{n.notifiable_type.underscore}_#{n.action_performed}", { n: n } %>
      <% else %>
        <%= render "deleted_item", { n: n } %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= paginate @notifications %>