<h1>Notifications</h1>

<table class="notifications-table">
  <% @notifications.each do |n| %>
    <tr>
      <%= render "user_mailer/notification_partials/#{n.notifiable.class.to_s.underscore}_#{n.action_performed}", { n: n } %>
    </tr>
  <% end %>
</table>

<%= paginate @notifications %>