form .account-settings {
  input, select, textarea {
    width: 100%;
    max-width: 100%;
  }

  .input {
    padding-right: 10px;
  }

  .content-input .text-box {
    margin: 5px 10px 0 0;

    .input {
      padding-right: 0;
    }
  }
}