html.auth {
  .brand {
    text-align: center;
    padding: 20px;

    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }

  body {
    &::after {
      content: " ";
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background: linear-gradient(#54598f, #503e7e); /* Standard syntax */
      z-index: -1;
    }

    .page-container {
      width: 300px;
      background: #fff;
      border-radius: 5px;
      padding: 20px 0;
      position: relative;

      margin: 0 auto;

      &.with-footer {
        padding-bottom: 60px;
      }
    }

    form {
      padding: 10px 20px;

      img.avatar {
        max-width: 90%;
      }

      input[type=file] {
        color: transparent;
      }

      .form-inputs {
        input, textarea {
          border-radius: 0;
          border: 0;
          background: $rollover-color;
          margin: 0;
          text-align: center;
        }

        .input {
          overflow: hidden;
          border: solid 1px $line-color;
          border-bottom: none;

          &:first-child {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
          }
          &:last-child {
            border-bottom: solid 1px $line-color;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }

        label.checkbox {
          margin: 20px 0;
          text-align: center;

          input {
            margin-right: 10px;
          }
        }
      }

      .form-actions {
        margin: 20px 0 0 0;
        padding: 0;
        border: 0;
        background: none;

        input {
          width: 100%;
        }
      }
    }

    ul.auth-alt {
      background: $rollover-dark;
      border-radius: 0 0 10px 10px;
      margin: 10px 0 0 0;
      border-top: 1px solid $line-color;
      position: absolute;
      bottom: 0;
      width: 100%;

      li::after {
        border-bottom-color: $line-color;
      }
    }

    h2, p {
      padding: 0 20px;
    }

    h2 {
      margin-top: 0;
      text-align: center;
      font-size: 16px;
    }

    p {
      font-size: 14px;
      text-align: center;
    }
  }
}

@media only screen and (min-height: 640px) {
  html.auth {
    .brand {
      margin-top: 100px;
    }
  }
}

@media only screen and (min-height: 840px) {
  html.auth {
    .brand {
      margin-top: 150px;
    }
  }
}
