body.md-dialog-is-showing {
  .app-header, .page-container {
    filter: blur(2px);
  }
}

md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
  background: none;
}

.md-dialog-container {
  z-index: 990;
  background: rgba(255,255,255,0.9);

  md-dialog {
    box-shadow: none;
    background: none;
  }

  md-dialog-content {
    padding: 0;
    text-align: center;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }

  .md-dialog-content-body p {
    font-size: 24px;
    padding: 0 0 10px;
  }

  .md-actions {
    display: block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    padding: 0;
    text-align: center;
  }

  button.md-button.md-default-theme.md-primary {
    display: inline-block;
    background-color: $primary-color;
    padding: 6px 20px;
    border-radius: 100px;
    text-decoration: none;
    transition: 0.3s;
    overflow: hidden;
    color: #fff;
    margin: 0;

    &:hover {
      background-color: $primary-deep;
    }

    span {
      text-transform: none;
      color: #fff;
      font-weight: 600;
    }

    // cancel btn
    &.ng-scope {
      background: $body-light-color;
      margin-right: 10px;

      &:hover {
        background: $body-color;
      }
    }

    .md-ripple-container {
      border-radius: 100px;
      overflow: hidden;
    }
  }
}