.project-box {
  border: solid 1px $line-color;
  border-radius: 3px;
  margin-bottom: 30px;

  h3 {
    margin-top: 0;
  }

  .info {
    padding: 20px;
  }

  footer {
    border-top: solid 1px $line-color;
    padding: 20px;

    .members {
      text-align: right;
      a {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  .recent-stories {
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    margin: 0;
    padding: 0;

    color: $small-copy;
    min-height: 130px;

    .when {
      display: inline-block;
      min-width: 60px;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }

  // Create new module
  // better placed within forms.scss, if it will be reused in other areas?
  form {
    label {
      font-weight: 400;
      font-size: 16px;
      display: block;
      color: $small-copy;

      abbr {
        float: right;
      }
    }

    input[type=text] {
      width: 100%;
      background: $rollover-color;
      border-color: $line-color-light;
      box-shadow: none;
      font-size: 24px;
    }
  }

}


.ui-stories-list {
  border-top: dotted 1px $line-color;
  margin: 0;
  padding: 0;
  list-style: none;

  &>li {
    border-bottom: dotted 1px $line-color;
  }

  a {
    display: block;
    text-decoration: none;
    color: $strong-color;
    font-size: 19px;
    padding: 20px 0;

    &:hover {
      h4 .title {
        text-decoration: underline;
      }
    }

    .members {
      float: right;
      text-align: right;
      img {
        margin-left: 5px;
      }
    }

    h4 {
      margin: 0;
      font-size: 19px;
      font-weight: 400;
      small {
        margin-left: 10px;
        color: $small-copy;
      }
    }
  }
}


@media only screen and (min-width: 48em) {
  .ui-projects-list > div:nth-child(1n) {
    .project-box { margin-right: 15px; }
  }

  .ui-projects-list > div:nth-child(2n) {
    .project-box { margin-left: 15px; }
  }
}
