.ui-story {
  border: solid 1px $line-color;
  border-radius: 4px;

  article:first-child > header {
    border-top: none;
  }

  header {
    padding: 10px;
    line-height: 30px;
    border-top: solid 1px $line-color;
    border-bottom: solid 1px $line-color;
    font-size: 15px;
    color: $body-light-color;
    position: relative;
    transition: 1s ease;

    &:after, &:before {
      top: 100%;
      left: 50px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 14px;
      margin-left: -14px;
      transition: 1s ease;
    }
    &:before {
      border-color: rgba(215, 215, 215, 0);
      border-top-color: $line-color;
      border-width: 15px;
      margin-left: -15px;
    }

    &.plain {
      border-bottom: 0;
      &:after, &:before {
        content: none;
      }
    }

    .actions {
      float: right;
      a {
        transition: 1s ease;
      }
    }

    img {
      float: left;
      border-radius: 15px;
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
  }

  .body, .attachments, .tasks {
    padding: 30px 40px;
  }

  .body.edit-mode {
    padding: 30px 0 0 0;
  }

  form {
    border-top: solid 1px $line-color;
  }

  .tasks {
    background-color: $rollover-color;
  }

  .add-comment {
    form {
      border-top: 0;
    }
  }

  article.warmdown {
    header {
      background-color: $primary-color;
      color: #fff;
      &:after {
        border-top-color: $primary-color;
      }
      a {
        color: #fff;
      }
    }
  }
}


@media only screen and (min-width: 48em) {
  .ui-story-container {
    padding-right: 2em;
    box-sizing: border-box;
    max-width: 42em;
  }
}

.story-menu {
  h4 {
    margin: 25px 0 10px;
  }

  .members {
    img {
      margin-right: 5px;
    }
  }
}
