.tasks {
    h4 {
        margin-top: 0;
    }

    .no-tasks,
    .tasks-list-container {
        display: none;
    }

    .loader {
        margin: 0 auto 20px;
    }

    span.assignment {
        color: #fff;
    }

    ul {
        list-style: none;
        padding-left: 0;
        position: relative;

        li {
            position: relative;
            padding-left: 20px;
            cursor: grab;
            transition: none;

            &.complete {
                display: none;
                text-decoration: line-through;
                opacity: 0.4;
            }
            &:hover:not(.action) {
                background: $rollover-dark;
            }
            &.warmdown {
                background-color: $primary-color;
                p, a {
                    color: #fff;
                }
            }
            input[type=checkbox] {
                position: absolute;
                left: 0;
                top: 6px;
            }
            span.assignment {
                font-size: 10px;
                background-color: #ccc;
                color: #fff;
                padding: 2px 5px;
                border-radius: 10px;
            }
            p {
                display: inline-block;
                margin: 0;
                padding: 0;
            }

            &:not(.ui-sortable-helper) {
                transition: 0.5s ease;
                p, a {
                    transition: 0.5s ease;
                }
            }

            // the item being dragged
            &.ui-sortable-helper {
                left: 0 !important;

                cursor: grabbing;

                opacity: 0.7;
                padding-top: 10px;
                padding-bottom: 10px;

                border-radius: 10px;

                input { display: none; }
            }

            &.ui-sortable-placeholder {
                visibility: visible !important;
                border: 1px dashed $primary-color;
                background-color: $rollover-dark;
                border-radius: 10px;
                margin: 10px;
            }
            &.edit-open {
                padding-left: 0;
                .default-form form { display: none; }
                .edit-form form { display: block; }
            }
        }
    }

    form {
        border-top: 0;
        input[type="text"] {
            width: 100%;
            max-width: 100%;
        }
        &.submitting {
            input[type="text"] {
                opacity: 0.6;
            }
        }
    }

    .edit-form {
        form {
            display: none;
            padding: 5px 8px;
            background: $rollover-dark;

            hr {
                margin: 8px 0;
            }

            a.cancel {
                float: right;
                font-size: 12px;
                display: block;
                padding: 2px;
            }
        }
    }

    a.show-completed-tasks {
        font-size: 14px;
    }
}
