.tasks {
    h4 {
        margin-top: 0;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            &.complete {
                text-decoration: line-through;
            }
            &:hover {
                background: $rollover-dark;
                ul.actions {
                    display: block;
                }
            }
            span.assignment {
                font-size: 10px;
                background-color: #ccc;
                color: #fff;
                padding: 2px 5px;
                border-radius: 10px;
            }
            ul.actions {
                display: none;
                margin: 0;
                padding: 0 0 5px 20px;

                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        font-size: 10px;
                        background: $body-light-color;
                        color: #fff;
                        text-decoration: none;
                        padding: 1px 7px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    form {
        border-top: 0;
        input[type="text"] {
            width: 100%;
            max-width: 100%;
        }
    }

    .edit-form {
        form {
            display: none;
            padding: 5px 8px;
            background: $rollover-dark;

            a.cancel {
                float: right;
                font-size: 12px;
                display: block;
                padding: 2px;
            }
        }
    }
}