<div class="confirm-dialog-wrapper">
  <div class="inner"></div>
  <a href="#" class="close-cross close-dialog">&times;</a>
  <div class="confirm-dialog">
    <h4 class="confirm-title"></h4>
    <p class="confirm-message"></p>
    <div class="actions">
      <div class="bar">
        <a href="#" class="button confirm" data-ans="yes">Yes, do it!</a>
        <a href="#" class="button cancel close-dialog" data-ans="no">Cancel</a>
      </div>
    </div>
  </div>
</div>
