<div class="confirm-dialog-wrapper">
  <a href="#" class="close-cross close-dialog">&times;</a>
  <div class="confirm-dialog">
    <p class="confirm-message"></p>
    <a href="#" class="button confirm" data-ans="yes">Yes, do it!</a>
    <a href="#" class="button cancel close-dialog" data-ans="no">Cancel</a>
  </div>
</div>