<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) && !msg.empty? %>
    <div class="ui-notification <%= "auto-dismiss" if name.to_s.eql?("notice") %>">
      <div class="box <%= name.to_s %>">
        <button class="close-cross">&times;</button>
        <%= msg %>
      </div>
    </div>
  <% end %>
<% end %>
