<% if object.errors.any? %>
  <div class="panel with-error ui-form-errors">
    <h4><%= t("form_contains") %> <%= pluralize(object.errors.count, t("error")) %></h4>

    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
