<div class="main-menu-item ui-dropdown-menu notifications">
  <span class="icon notifications"></span>
  <span class="notification-count">0</span>
  <div class="dropdown">
    <p class="notification-count"></p>
    <ul class="notification-list"></ul>
    <ul class="actions">
      <li><%= link_to "View All Notifications", notifications_path %></li>
      <li><%= link_to "Notification Settings", settings_url(host: root_app_host) %></li>
    </ul>
  </div>
</div>
