<div class="main-menu-item ui-dropdown-menu">
  <span class="icon notifications"></span>
  <div class="dropdown">
    <p>0 Notifications</p>
    <ul>
      <li><a href="#">No new notifications</a></li>
    </ul>
    <ul class="actions">
      <li><%= link_to "Notification Settings", settings_url(host: root_app_host) %></li>
    </ul>
  </div>
</div>
