<div class="ui-dropdown-menu">
  <span class="icon search"></span>
  <div class="dropdown">
    <form action="<%= search_index_path %>" method="GET" class="search">
      <input type="text" name="q" placeholder="Search" autocomplete="off" />
    </form>
  </div>
</div>
