<div class="ui-dropdown-menu">
  <span class="title noselect">Teams<span class="arrow"></span></span>
  <ul class="dropdown">
    <% current_user.teams.each do |team| %>
      <li class="<%= "active" if current_team == team %>"><%= link_to(team.name, root_url(subdomain: team.subdomain)) %></li>
    <% end %>
  </ul>
</div>
