<div class="text-box">
  <%= form.input local_assigns[:method] || :content, label: false, placeholder: local_assigns[:placeholder] || "Type your message", input_html: {tabindex: local_assigns[:tabindex], class: "atwho"} %>
  <span class="note">
    <a href="https://daringfireball.net/projects/markdown/basics" target="_blank" title="Learn the basics of Markdown">Markdown</a> &amp; <a href="http://www.emoji-cheat-sheet.com/" target="_blank" title="Emoji cheat sheet">Emoji</a> support <i class="icon-help"></i>
  </span>
</div>
