<h1><%= t("edit_project") %></h1>

<%= render 'form' %>

<% if can? :destroy, @project %>
  <hr>
  <ul class="plain-list actions-list">
    <li>
      <%= link_to @project, class: "icon-link link-large danger", method: :delete, id: "archive-btn", data: { confirm_title: "Archive Project", confirm: "Are you sure?" } do %>
        <span class="icon icon-trash"></span>
        Archive this project
      <% end %>
    </li>
  </ul>
<% end %>
