<div class="ui-projects-list pure-g">
  <% if @projects.any? %>
    <%= render @projects %>
  <% end %>
  <%= render "new_project" %>
</div>

<%= link_to "View archived projects", archived_projects_path %>
