<h1>
  <%= @project.name %>
  <small>Last updated <%= human_time @project.updated_at %></small>
</h1>

<% if @project.stories.any? %>
  <ul class="ui-stories-list">
    <%= render @project.stories %>
  </ul>
<% end %>

<hr>

<%= render "/stories/form" %>