<h1>
  <%= t("archived_stories") %>
  <small>
    <%= link_to @project.name, @project %>
  </small>
</h1>

<div class="pure-g">
  <% if @stories.any? %>
    <ul class="ui-archived-list">
      <%= render partial: "story_archived", collection: @stories, as: :story %>
    </ul>
  <% end %>
</div>
