<td class="avatar">
  <%= present(model.owner).avatar(30) %>
</td>

<td class="content">
  <p>Task assigned to you on the story <%= link_to model.story.name, [model.story.project, model.story] %>, in <%= link_to model.story.project.name, model.story.project %>:</p>

  <div class="details">
    <p><%= markdownify model.label %></p>
  </div>
</td>