<div class="avatar">
  <%= presents(@user).avatar(30) %>
</div>

<div class="content">
  <p>Task assigned to you on the story <%= model.story.name %>, in <%= model.story.project.name %>:</p>
  <p><%= model.label %></p>
</div>