<% present(@team_member) do |user| %>
  <div class="<%= user.display_role %>">
    <h1>
      <%= user.avatar %>
      <%= user.display_name %>
      <small>(<%= user.display_role %>)</small>
    </h1>
  </div>
<% end %>
