.s3-file-upload-field-group {
  display: none;
}

#attachments-list {

  .upload {
    padding-top: 10px;

    .file-name {
      display: block;
      line-height: 30px;
    }

    .progress-bar {
      border-radius: 0;
      .completion {
        background: $primary-color;
        border-radius: 0;
      }
    }

    &.processing {
      .progress-bar .completion {
        background: #DFDC2C;
      }
    }

    &.completed {
      .progress-bar .completion {
        background: #70C76F;
      }
    }
  }
}


.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  &>li {
    display: inline-block;
  }
}


.attachment-file, .attachment-preview {
  a {
    text-decoration: none;
    font-size: 13px;
    line-height: 19px;
  }

  .file-name {
    color: $strong-color;
  }

  .file-size {
    color: $body-light-color;
  }
}


.attachment-file {
  padding: 20px 0;

  a {
    text-align: center;

    span {
      display: block;
    }
  }

  .file-preview {
    margin: 0 50px 10px;
    width: 59px; // 108
    height: 77px; // 142
  }
}


.body.comment h5 {
  margin-bottom: 0;
}

.comment-files-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &>li {
    display: block;
  }
}

.attachment-preview {
  .image-preview {
    border: solid 10px #efefef;
    margin: 15px 0 4px;

    img { max-width: 100%; }
  }
}
