.info-box {
  border: solid 1px $line-color;
  border-radius: 3px;
  margin-bottom: 30px;

  h3 {
    margin-top: 0;
  }

  .info {
    padding: 20px;
  }

  footer {
    border-top: solid 1px $line-color;
    padding: 20px;

    img.avatar {
      width: 40px;
      height: 40px;
    }
  }
}
