body {
  padding: 0 0 50px 0;
  margin: 0;
}

#main-content {
  width: 100%;
  transition: margin 0.5s ease;
}

.center {
  text-align: center;
}

.page-header {
  h1 {
    margin: 0;
  }

  margin: 0 0 30px;
}

.page-container {
  padding: 20px;
}

@media only screen and (min-width: 586px) {
  .page-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .page-container {
    padding-top: 0;
    padding-bottom: 40px;
  }

  #main-content {
    padding-top: 90px;
  }
}

@media only screen and (min-width: 48em) {
  .gutter-right {
    padding-right: 40px;
    box-sizing: border-box;
  }

  .gutter-left {
    padding-left: 40px;
    box-sizing: border-box;
  }

  .page-header {
    .actions {
      display: block;
      float: right;
      text-align: right;
    }
  }
}
