md-datepicker {
    background: none;
}

.md-button.md-icon-button {
    margin-top: -6px;
    &.md-datepicker-triangle-button {
        margin-top: 4px;
    }
}

.md-datepicker-input-container {
    border-bottom: 0;
}

.md-datepicker-calendar {
    background: #fff;

    .md-calendar-day-header {
        background: $primary-color;
        color: #fff;
    }

    .md-calendar-selected-date {
        background: $primary-deep;
        color: #fff;
        border-radius: 5px;
    }
}