.md-datepicker-calendar {
    background: #fff;

    .md-calendar-day-header {
        background: $primary-color;
        color: #fff;
    }

    .md-calendar-selected-date {
        background: $primary-deep;
        color: #fff;
        border-radius: 5px;
    }
}