menu .ui-dropdown-menu {
  display: inline-block;
}

.ui-dropdown-menu {
  position: relative;
  width: 40px;

  .dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: -20px;
    width: 250px;
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 1px $line-color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &::before {
      content: " ";
      display: block;
      background: #fff;
      border-left: 1px solid $line-color;
      border-top: 1px solid $line-color;
      position: absolute;
      right: 27px;
      top: -11px;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
    }
  }

  span.icon {
    display: block;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-position: center;
    border-radius: 40px;
    border: 1px solid #000;
    opacity: 0.4;

    &.teams { background-image: image-url('icons/teams.png') }
    &.notifications { background-image: image-url('icons/notifications.png') }
    &.search { background-image: image-url('icons/search.png') }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  p {
    margin: 0;
    padding: 15px 20px;
    font-size: 12px;
  }

  ul {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0 15px;
    font-size: 16px;

    li {
      a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: $body-color;

        &:hover {
          background: $rollover-color;
        }
      }

      &.active a {
        font-weight: 600;
        color: $primary-color;
      }
    }

    &.actions {
      background-color: $rollover-color;
      margin-bottom: 0;
      padding: 10px 20px;
      font-size: 14px;

      li a:hover {
        color: $primary-color;
      }
    }
  }

  &.open {
    span.icon { opacity: 0.7; }
    .dropdown { display: block; }
  }
}

/* Autocomplete @mentions and emojis */
.atwho-view-ul {
  li {
    line-height: 20px;
  }
  li > img {
    float: left;
  }
  li > span.value {
    margin-left: 10px;
    line-height: 20px;
  }
}
