form label {
  cursor: pointer;
}

.pure-checkbox {
  & > input {
    margin-right: 10px;
  }
}

.form-actions {
  margin-top: 20px;
  padding: 15px 20px;
  border-top: 1px solid $line-color-light;
  background: $rollover-color;
}


input, textarea, select {
  font-family: $font-stack;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea {
  padding: 8px;
  border-radius: 3px;
  border: solid 1px $line-color;
  outline: none;
  margin: 4px 0;
  box-sizing: border-box;
  width: 100%;
}


.stacked-form {
  label {
    display: block;
    maring: 20px 0 8px;
  }
}


.content-input {
  .text-box {
    border: 1px solid $line-color;
    border-radius: 4px;
    margin: 0 10px;

    textarea {
      border: 0;
      width: 100%;
      max-width: 100%;
      min-height: 120px;
      box-shadow: none;
      line-height: 1.6;
      padding: 8px 10px;
      margin: 4px 0;
      box-sizing: border-box;
      outline: none;
    }

    span.note {
      display: block;
      text-align: right;
      background: $rollover-dark;
      padding: 2px 5px;
      font-size: 14px;
      color: $small-copy;

      a {
        color: $small-copy;
      }
    }
  }

  footer {
    margin: 10px;
    text-align: right;
  }
}


/* wild big input so it is */
input.title-input {
  padding: 0;
  border: 0;
  box-shadow: none;
  outline: none;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  form input {
    max-width: 300px;
  }
}
