.main-menu-item.notifications {
  &.has-unseen {
    span.icon {
      background-color: $primary-color;
      opacity: 1;
    }
  }

  .notification-list {
    max-height: 150px;
    overflow: auto;

    li:not(.no-new) {
      border-top: 1px solid $line-color-light;
      &:last-child {
        border-bottom: 1px solid $line-color-light;
      }
    }

    .details {
      font-size: 12px;
    }

    .owner-details {
      position: relative;
      height: 15px;
      font-size: 11px;
      padding: 0 0 5px 20px;
      img {
        position: absolute;
        left: 0;
        top: 4px;
        width: 15px;
      }
    }
  }
}

.notifications-table {
  width: 100%;

  tr td {
    border-bottom: 1px solid $line-color-light;
    vertical-align: top;

    &.avatar {
      width: 40px;
    }

    img.avatar {
      margin-top: 12px;
    }

    .details {
      background-color: $rollover-dark;
      border-radius: 5px;
      margin-bottom: 20px;

      p {
        padding: 2px 10px;
        margin: 0;
      }
    }
  }
}