body.search-sidebar-open {
  #main-content,
  header.app-header {
    margin-left: -400px;
  }
  search-sidebar {
    right: 0px;
  }
}

search-sidebar {
  box-sizing: border-box;
  height: 100%;
  width: 400px;
  padding: 10px;
  position: fixed;
  right: -400px;
  transition: 0.5s ease;
  top: 0;
  background-color: $primary-color;
  z-index: 100;
  overflow: hidden;
  border-left: 1px solid $primary-deep;

  form {
    padding: 10px;
    background: $primary-deep;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;

    input[type=text] {
      width: 100%;
      max-width: 100%;
      border: 1px solid $body-light-color;
      border-radius: 0;
      margin: 0;
      height: 43px;
    }
  }

  .loading {
    text-align: center;
    color: #fff;
    padding-top: 75px;
  }

  .no-results {
    text-align: center;
    color: #fff;
    padding-top: 75px;
    font-weight: 600;

    span {
      font-style: italic;
      border-bottom: 1px solid #fff;
    }
  }

  .search-results {
    position: absolute;
    max-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 85px 20px 20px;
    box-sizing: border-box;
    z-index: 1;
    overflow-y: auto;

    p {
      color: #fff;
      margin: 0 0 20px 0;
      text-align: center;
      span {
        font-weight: 600;
        &.term {
          border-bottom: 1px solid #fff;
          font-style: italic;
        }
      }
    }

    ul.ui-search-list li {
      margin-bottom: 15px;
      border-radius: 5px;
      overflow: hidden;
    }
  }

  .view-more {
    text-align: center;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }

  .all-loaded {
    text-align: center;
    color: #fff;
    font-weight: 600;
  }
}
