body {
  font-family: $font-stack;
  color: $body-color;
  line-height: 1.6;
  @include font-smoothing(on);
  text-rendering: optimizeLegibility;
}

a {
  color: $primary-color;

  &:hover {
    color: $primary-deep;
  }
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}


hr {
  height: 0px;
  margin: 20px 0px;
  border: 0;
  border-bottom: 1px solid $line-color-light;
}


abbr {
  cursor: help;
}


//
// Headings
// =============================================================================

h1, .title-input {
  margin: 0 0 21px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  color: $strong-color;
  @include font-smoothing(off);
}

h3 {
  font-size: 24px;
  color: $strong-color;
  font-weight: 700;
  @include font-smoothing(off);

  a {
    text-decoration: none;
    color: $strong-color;
    display: block;
  }

  small, a small {
    font-weight: 400;
    font-size: 16px;
    display: block;
    color: $small-copy;
  }
}
