<div class="copy">
  <h1>You’re all set.</h1>
  <p>Open HQ is now configured, please take a moment to setup your first project and invite some team members</p>
</div>

<%= simple_form_for(@initial_setup, url: setup_complete_path, method: :post) do |f| %>
  <div class="form-inputs">
    <div class="pure-g">
      <div class="pure-u-1">
        <%= f.input :project_name, label: "Name your first project" %>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <%= f.input :team_members, as: :text, label: "Invite team members", hint: "Multiple emails separated by comma" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Save", class: "btn btn-main" %>
  </div>
<% end %>
