<div id="search-sidebar">
  <form method="post" action="/search">
    <input type="text" name="q" placeholder="Start typing to search..." autocomplete="off">
  </form>

  <div class="loading">Searching...</div>
  <div class="no-results">Nothing found for <span>term</span></div>

  <div class="search-results">
    <p><span class="count">0</span> results found for <span class="term">term</span></p>
    <ul class="ui-search-list"></ul>
    <div class="view-more"><a href="#">View more results</a></div>
  </div>
</div>