<div id="search-sidebar">
  <form method="post" action="/search">
    <input type="text" name="q" placeholder="Search Term">
  </form>
  <div class="loading">
    Searching...
  </div>
  <div class="search-results">
    <ul class="ui-search-list">
    </ul>
  </div>
</div>