$font-stack: 'Open Sans', Helvetica, Arial, sans-serif;
$body-color: #333;
$body-light-color: #94A3A9;
$strong-color: #3A4245;
$small-copy: #829298;
$primary-color: #1CAAE7;
$primary-deep: #0D8DC3;
$line-color: #d7d7d7;
$line-color-light: #e7e7e7;
$rollover-color: #f9f9f9;
$rollover-dark: #efefef;
$danger-color: #d23c3c;

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

/* Angular Material */
@import "angular/angular-material";

/* Pure Framework */
@import "pure/base";
@import "pure/grids";
@import "pure/grids-responsive";
@import "pure/tables";
@import "pure/menus";

/* Plugins */
@import "jquery.atwho";
@import "hljs-github-gist-theme";
@import "chosen";
@import "pickadate/default";
@import "pickadate/default.date";

/* CSS components */
@import "components/*";

/* Specific CSS */
@import "styles/*";