<div class="page-header">
  <h1>Archived Projects</h1>
</div>

<ul class="ui-archived-list">
  <li ng-repeat="project in archived_projects">
    {{ project.name }}
    <a class="btn btn-main" href="#" ng-click="restoreProject(project)">Restore</a>
  </li>
</ul>