<div class="page-header">
  <ul class="actions h-list">
    <li>
      <a href="#" class="btn btn-text">Manage Project</a>
    </li>
    <li>
      <a href="#" class="btn btn-main">New Story</a>
    </li>
  </ul>

  <h1>
    {{ project.name }}
  </h1>
</div>

<ul class="ui-stories-list">
  <li ng-repeat="story in stories">
    <a href="/stories/{{ story.slug }}">
      <div class="members">
        avatars
      </div>

      <h4>
        <span class="title">{{ story.name }}</span>
        <small>updated <human-time datetime="story.updated_at"></human-time></small>
      </h4>
    </a>
  </li>
</ul>
