<div class="page-header">
  <ul class="actions h-list">
    <li>
      <a href="/projects/{{ project.slug }}/manage" class="btn btn-text">Manage Project</a>
    </li>
    <li>
      <div class="ui-dropdown-menu">
        <span class="icon profile">Add New&hellip;</span>
        <div class="dropdown">
          <ul class="actions">
            <li><a href="/projects/{{ project.slug }}/new-discussion">Discussion</a></li>
            <li><a href="/projects/{{ project.slug }}/new-todo">Todo List</a></li>
            <li><a href="/projects/{{ project.slug }}/new-file">File Upload</a></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <h1>
    {{ project.name }}
  </h1>
</div>

<ul class="ui-stories-list">
  <li ng-repeat="story in stories">
    <a href="/stories/{{ story.slug }}">
      <div class="members">
        avatars
      </div>

      <h4>
        <span class="title">{{ story.name }}</span>
        <small>updated <human-time datetime="story.updated_at"></human-time></small>
      </h4>
    </a>
  </li>
</ul>

<div ng-show="project.archived_count" class="center archive-link">
  <a class="btn btn-secondary btn-with-icon" href="/projects/{{ project.slug }}/archived">
    <span class="icon icon-archive"></span>
    View archived stories ({{ project.archived_count }})
  </a>
</div>
