<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/html_head" %>
</head>
<body class="error-page">
  <%= render 'shared/flash_messages' %>

  <div class="page-container">
    <%= yield %>

    <footer>
      <%= link_to "Back to my projects", root_url, class: "btn btn-large btn-main" %>
    </footer>
  </div>

</body>
</html>
