<!DOCTYPE html>
<html class="auth setup">
<head>
  <%= render partial: "layouts/html_head" %>
</head>
<body>

  <%= render 'shared/flash_messages' %>

  <div class="brand"><%= link_to app_name, root_url %></div>

  <%= yield %>

</body>
</html>
